html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


a, a:hover, a:focus, a:active a:link{
    text-decoration: none;
    color: inherit;
}

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    padding: 1em;
}

/* NAVBAR */
.sticky-nav{
    z-index: 1;
    position: fixed;
    left: 3.5em;
    top: 40vh;
}

.nav-item{
    list-style-type: none;
    text-decoration: none;
    border-radius: 50%;
    background-color: #E4DFE1;
    width: 20px;
    height: 20px;
    margin-bottom: 15px;
    border: 2px solid white;
}

.nav-item:hover{
    background-color: #6D7993;
    border: 2px solid #6D7993;
}

.HoverState{
    color: white;
    border: 2px solid #5E5E5E;
    background-color: #6D7993;

    width: fit-content;
    border-radius: 12px;
    padding: 2px 6px 2px 6px;
    font-weight: 600;
    font-size: 13px;
    position: relative;
    left: 25px;
    top: -20px;
    transition:all .5s ease-in-out;
}

.nav-item .HoverState{
    display: none;
}

.nav-item:hover .HoverState{
    display: block;
}

.active-s {
    background-color: #6D7993;
    border: 2px solid #5E5E5E;
}

/* WELCOME PAGE */
.welcome{
    height: calc(100vh - 2em);
    width: calc(100vw - 2em);
    overflow: hidden;
    text-align: center;
}

.welcome-contents{
    left: 15%;
    top: 40%; 
    max-width: 70%;
}

.hello{
    line-height: 1.5em;
    color: white;
    font-weight:400;
    font-size: 5vh;
    font-style: bolder;
}

.popout{
    color: white;
    font-size: 4em;
    font-weight: 700;
}

@-webkit-keyframes ani {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      text-shadow: 0em 0em 0 #D8AB4E;
      color: white;
    }
    30% {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      text-shadow: 0em 0em 0 #D8AB4E;
      color: white;
    }
    70% {
      -webkit-transform: translate3d(0.08em, -0.08em, 0);
              transform: translate3d(0.08em, -0.08em, 0);
      text-shadow: -0.08em 0.08em #D8AB4E;
      color: white;
    }
    100% {
      -webkit-transform: translate3d(0.08em, -0.08em, 0);
              transform: translate3d(0.08em, -0.08em, 0);
      text-shadow: -0.08em 0.08em #D8AB4E;
      color: white;
    }
  }
  @keyframes ani {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      text-shadow: 0em 0em 0 #D8AB4E;
      color: white;
    }
    30% {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      text-shadow: 0em 0em 0 #D8AB4E;
      color: white;
    }
    70% {
      -webkit-transform: translate3d(0.08em, -0.08em, 0);
              transform: translate3d(0.08em, -0.08em, 0);
      text-shadow: -0.08em 0.08em #D8AB4E;
      color: white;
    }
    100% {
      -webkit-transform: translate3d(0.08em, -0.08em, 0);
              transform: translate3d(0.08em, -0.08em, 0);
      text-shadow: -0.08em 0.08em #D8AB4E;
      color: white;
    }
  }
  .popout span {
    position: relative;
    display: inline-block;
    -webkit-animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
            animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
  }
  .popout span:nth-last-child(1n) {
    -webkit-animation-delay: -0.1666666667s;
            animation-delay: -0.1666666667s;
  }
  .popout span:nth-last-child(2n) {
    -webkit-animation-delay: -0.3333333333s;
            animation-delay: -0.3333333333s;
  }
  .popout span:nth-last-child(3n) {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
  }

/* ABOUT ME */
.about-me{
    margin-left: 3.5em;
    padding: 6vw 5vw 0vw 5vw;
    display: block; 
}

.about-btn{
    width: 150px;
    margin-left: 0.6em;
    text-align: center;
    padding: 15px;
    border-radius: 14px;
    background: #f2f2f2;
    color: #D8AB4E;
    font-weight: 600;
    font-size: 20px;
    line-height: 14px;
    margin-top: 5px;
}

.about-btn:hover{
    background-color: #ebebeb;
    color:#5E5E5E;
}

.h1{
    font-size: 2.5em;
    font-weight:800;
    color: #6D7993;
    line-height: 50px;
    padding-bottom: 0.5em;
    /* background-color: #E4DFE1; */
    /* background: linear-gradient(to right, red 50%, blue 50%); */
    /* width: fit-content; */
    /* padding: 15px; */
    /* text-align: center; */
}

.h-l{
    margin-left: 15px;
}

.content{
    content: "";
    display: table;
    clear: both;
    clear:left;
    clear:right;
    float: left;
    overflow: hidden;

}

.column {
    float: left;
    width: 45%;
    padding: 10px 20px 20px 0px;
}

.a-m-t{
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 30px;
}


.pic-me{
    width: 100%;
    max-width: 800px;
    float: right;
}

.b1{
    font-size: 16px;
    color: #5E5E5E;
    font-weight: 400;
    margin-top: 1em;
}

.b2{
    font-size: 16px;
    color: #D8AB4E;
    font-weight: 600;
    margin-top: 1em;
}

.b3{ 
    /* for "find out more" */
    font-size: 19px;
    color: #D8AB4E;
    font-weight: 600;
    margin-top: 1em;
}


.highlight{
    word-wrap: break-word;
    margin-top: 0.5em;

}

.highlight-item{
    font-weight: 600;
    font-size: 16px;
    background-color: #6D7993;
    border-radius: 19px;
    text-align: center;
    padding: 8px 16px;
    line-height: 2.7em;
    color: white;
}

.highlight-item-large{
    font-weight: 600;
    font-size: 20px;
    background-color: #6D7993;
    border-radius: 19px;
    text-align: center;
    padding: 8px 16px;
    line-height: 2.7em;
    color: white;
}

/* EXPERIENCE PAGE */
.experience{
    margin-left: 3.5em;
    padding: 6vw 0vw 0vw 5vw;
    display: block; 
    float: left;
}

.column-t {
    float: left;
    width: 30%;
    padding: 20px 20px 20px 70px;
}

.company-logo{
    float:right;
    padding-right: 20px;
    padding-bottom: 50px;
    width: 100%;
    max-width: 400px;
}

.company{
    display: none;
}

.position{
    color: #5E5E5E;
    font-size: 20px;
    font-weight: 600;
}

.date{
    color:#6D7993;
    font-style: italic;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
}

.work-pic{
    width: 100%;
    padding-bottom: 30px;
    padding-top: 15px;
    display: block;
    max-width: 1000px;
}


.resume-text{
    color:#D8AB4E;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600;
}

.resume-text:hover{
    color: #5e5e5e;
}

/* PROJECTS */
.projects{
    margin-left: 3.5em;
    padding: 6vw 5vw 0vw 5vw;
    display: flex;
    flex-direction: column;
    position: relative;
    float: none;
}


.push{
    padding-bottom: 15px;
}

.proj-header{
    color: #5e5e5e;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
}

.box{
    height: 670px;
    background-color: transparent;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 20px;
}

.box::-webkit-scrollbar{
    display:none;
}

.card{
    display: inline-block;
    height: 100%;
    width: 500px;
    margin: 10px;
    background-color: transparent;
    border: none;
}

.vid-container{
    width: 100%;
    height: auto;
    -o-object-fit: cover;
     object-fit: cover;
}

.floating {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
.floating:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
}

.projtext{
    padding: 10px 0px 20px 15px;
}

.projname{
    font-size: 18px;
    color: #D8AB4E;
    font-weight: 600;
}

.projtools{
    padding-top: 11px;
    color: #5e5e5e;
}

.projdesc{
    font-size: 14px;
    color: grey;
}

.projlink{
    font-size: 14px;
    font-weight: 600;
    color: #D8AB4E;
    padding-top: 10px;
}

.projlink:hover{
    color: #5e5e5e;
}


/* TRAVEL */
.travel{
    margin-left: 3.5em;
    height: 100%;
    width: 95%;
    padding: 6vw 5vw 0vw 5vw;
    display: flex;
    flex-direction: column;
    position: relative;
    float: none;
}

.r {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* four equal columns */
  .c {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .c img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .pc{
        position: relative;
        width: 100%;
    
  }

  .tpic{
      opacity: 0.8;
      filter: grayscale(80%);

  }

  .pc:hover .tpic {
    transition: .5s ease;
    opacity: 1;
    filter: grayscale(0%);

  }


  .carousel{
    display: none;
}
  
  /* make two column-layout */
  @media screen and (max-width: 1200px) {
    .c {
      flex: 50%;
      max-width: 50%;
    }
    .carousel{
        display: none;
    }
  }
  
  /* stack */
  @media screen and (max-width: 600px) {
    .r{
        display:none;
    }

    /* mobile carousel */
    .carousel{
        display: block;
    }  
    .carousel-inner img {
        height: 100%;
        width: 100%;
    }
  }


/* CONTACT PAGE */
.contact{
    margin-left: 3.5em;
    /* height: fit-content; */
    width: 95%;
    padding: 6vw 5vw 0vw 5vw;
    display: flex;
    flex-direction: column;
    position: relative;
    float: none;
}

.middle {
    top: 50%;
    left: 50%;
    text-align: center;
  }

  .resume{
      height: 70px;
      width: 400px;
      position: relative;
      border-radius: 30%;
      background: #f2f2f2;
  }
  
  .btn {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: #f2f2f2;
    margin: 10px;
    border-radius: 30%;
    color: #6D7993;
    overflow: hidden;
    position: relative;
  }

  .btn-small {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #f2f2f2;
    margin: 5px 0px 0px 10px;
    border-radius: 30%;
    color: #6D7993;
    overflow: hidden;
    position: relative;
  }

  .btn-small-t {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #f2f2f2;
    margin: 5px 0px 0px 10px;
    border-radius: 30%;
    color: #6D7993;
    overflow: hidden;
    position: relative;
  }
  
  .btn i {
    line-height: 60px;
    font-size: 36px;
    transition: .2s linear;
  }

  .btn-small i {
    line-height: 45px;
    font-size: 26px;
    transition: .2s linear;
    margin-left: 11px;
  }
  
  .btn:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
  }

  .btn-small:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
  }
  
  .btn::before {
    content: '';
    position: absolute;
    height: 120%;
    width: 120%;
    background: #6D7993;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }

  .btn-small::before {
    content: '';
    position: absolute;
    height: 120%;
    width: 120%;
    background: #6D7993;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }
  
  .btn:hover::before  {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  }

  .btn-small:hover::before  {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  }
  
  @keyframes aaa {
    
    0% {
      top: -110%;
      left: 90%;
    }
    
     50% {
      top:  10%;
      left: -30%;
    }
    
     100% {
      top: -10%;
      left: -10%;
    }
  }

  .contact-btn{
    margin-left: 0.6em;
    text-align: center;
    padding: 15px 19px 15px 19px;
    border-radius: 14px;
    background: #f2f2f2;
    color: #5e5e5e;
    font-weight: 600;
    font-size: 18px;
    line-height: 14px;
    margin-top: 10px;       
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    transition: 150ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #5e5e5e;
    color: white;
}


  /* FOOTER */
  .f{
      background-color: #6D7993;
      height: 50px;
      display: block;
  }
  .f-t{
      text-align: center;
      color: white;
      line-height: 50px;
      font-size: 13px;
  }
  


/* TABLETS */
@media (max-width: 1000px) {


    .not-phones{
        display: none;
    }
    

    .welcome-contents{
        left: 15%;
        top: 30%; 
    }

    .sticky-nav{
        display: none;
    }

    .about-me{
        margin-left: 0px;
        width: 100%;
        margin-bottom: 50px;

    }

    .column{
        width: 100%;
        float: none;
        padding-left: 0px;
    }

    .a-m-t{
        margin-bottom: 50px;
    }

    .pic-me{
        float: left;
        margin-bottom: 40px;
    }

    .company-logo{
        padding: 0px 0px 25px 0px;

    }

    .company{
        display: block;
        color: #5E5E5E;
        font-size: 30px;
        font-weight: 700;
    }

    .column-t{
        display: none;
    }

    .experience{
        display: block;
        margin-left: 0px;
        margin-bottom: 50px;
        width: 100%;
    }

    .projects{
          margin-left: 0px;
          width: 100%;
    }

    .mobile-only-text{
        display: none;
    }

    .box {
        height: 530px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;

    }

    .card {
        display: inline-block;
        height: 100%;
        width: 350px;
    }

    .vid-container{
        width: 100%;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .travel{
        margin-left: 0px;
        width: 100%;
    }

    .contact{
        margin-left: 0px;
        height: fit-content;
        width: 100%;
        
    }
}

/* ROTATED PHONE */
@media (max-width: 896px) and (max-height: 414px){

    .popout{
        font-size: 2.5em;
    }

    .hello{
        font-size: 2em;
    }

    .about-me{
        margin-left: 0px;
    }

    .experience{
        margin-left: 0px;
    }

    .projects{
        height: 1180px;
        margin-left: 0px;
    }

    .mobile-only-text{
        display: none;
    }
        
    .box {
        height: 890px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
      }

      .card {
        display: inline-block;
        height: 100%;
        width: 300px;
      }
      
      .vid-container {
        width: 100%;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
      }

      .travel{
        margin-left: 0px;
      }

      .contact{
        margin-left: 0px;
        
      }
}


/* GENERAL SMALL DEVICES */

@media (max-width: 420px) and (max-height: 750px){
    .wrapper{
        padding: 0.5em;
    }

    .welcome{
        height: calc(100vh - 1em);
        width: calc(100vw - 1em);
        
    }
    
    .popout{
        font-size: 2.5em;
    }

    .mobile-only-text{
        display: none;
    }

    .work-pic{
        display: none;
    }

}


