html {
	scroll-behavior: smooth;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
ul.sideNav{

}
li.nav-item{
    background-color: white;
    border-radius: 50%;
    height: 20px;
    width: 20ps;
}

.welcome{
    background-image: url('./img/gradient-background.png');
    height: 850px;
    width: auto;
    /* min-height: 500px; */
    background-size: cover;
    background-position: center;
    position:relative;
}

a:link {
    text-decoration: none;
  }

.sub-wi{
    color: white;
    font-style: italic;
    font-size: 35px;
    font-weight: thin;
    padding-left: 30rem;
    padding-top: 17rem;
}

.name{
    color: #3D3241;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}

.cont-btn {
    border: 2px solid white;
    text-decoration: none;
    color: white;
    background-color: transparent;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    display: inline-block;
    font-size: 16px;
    margin-left: 53rem;

}

.cont-btn:hover {
    background-color: #3D3241; 
    text-decoration: none;
    color: white;
  }

.mountains-pic{
    /* align-self: baseline; */
    position:absolute;
    bottom:0;  
    left: 0px; 
    width: 100%;
}


.about-me{
    /* background-color: #4A535D; */
    background-image: url('./img/professional-pic.JPG');
    height: 850px;
    width: auto;
    /* min-height: 500px; */
    background-size: cover;
}

  .transbox {
    background-color: black;
    opacity: 0.5;
    padding: 35px;
    height: 100%;
  }

  .transbox-text{
      color: white;
      padding-top: 1rem;
  }

@media (max-width: 1000px) {
    .welcome {
        width: 100%;
        min-height: 0;
    }
    
    .about-me {
        width: 100%;
        min-height: 0;
    }
    
}	

@media (max-width: 770px) {

    .transbox {
        width: 100%;
    }
}

